<app-navbar></app-navbar>
<div class="image-container">
  <img src="assets/test-akropolis.jpg" alt="Wide view of Akropolis Restaurant" class="wide-image">
</div>
<div class="info-section">
    <div class="info-block">
      <h3>Location</h3>
      <p>123 Acropolis Ave</p>
      <p>Athens, Greece</p>
    </div>
    <div class="info-block">
      <h3>Hours</h3>
      <p>Mon-Fri: 9am - 10pm</p>
      <p>Sat-Sun: 10am - 11pm</p>
    </div>
    <div class="info-block">
      <h3>Contact</h3>
      <p>Phone: +30 21 1234 5678</p>
      <p>Email: infoATakropolisrestaurant.com</p>
    </div>
  </div>
  <div class="homepage-image-row">
    <div class="homepage-image-container">
      <img src="assets/akropolis-img1.png" alt="Description of Image 1">
    </div>
    <div class="homepage-image-container">
      <img src="assets/akropolis-img2.png" alt="Description of Image 2">
    </div>
  </div>
  